<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
	
  </head>

  <body>
    <h1>About Us</h1>
    <p>
      We are the team 2 of Web Engeneering.</br>
      Our captain is Zeng Junhong,the other members of our team are Chen Peng,Ma Zhixiong,Wang Yixu,Wang Yitao and Hu Tao.</br>
    </p>
  </body>
</html>